* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a.contact_links {
  color: #fff;
  text-decoration: none;
}

a.contact_links:hover {
  text-decoration: underline;
}

a.enterprise_links {
  color: #253542;
  font-weight: 600;
  text-transform: uppercase;
}

ul.padding-list {
  padding-left: 20px;
}

.personal-website {
  display: none;
}

@import "layout";
@import "typography";
@import "print";