@media print { 
    @page {
        margin: 0%;
    }


    .container .left  {
        background: #fff;
        padding-bottom: 0px!important;
    }

    body {
        font-size: small;
    }

    .container .left .contactInfo ul li .icon {
        font-size: small!important;
        width: auto!important;
    }

    .container {
        grid-template-columns: none!important;
    }

    .language {
        display: none;
    }

    .container .left .contactInfo ul li span,
    a.contact_links, 
    .container .left .contactInfo .title {
        color: #1d242a!important;
    }

     

    .container .left .profileText {
        span, h2 {
            color: #1d242a!important;
        }
    } 

    .container .left .profileText .profileImg {
        display: none!important;
    }


    .pagebreak-after, .pagebreak-before {
        clear: both;
    }

    .pagebreak-before {
        page-break-before: always;
        margin-top: 40px;
    }

    .pagebreak-after {
        page-break-after: always;
    }

    .personal-website {
        display: block!important;
    }
      
}