<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}

<body>
	<div class="container">
		<div class="left">
			<div class="profile">
				<div class="profileText">
					<div class="profileImg">
						<img src="/img/me.jpeg" alt="Eduardo Méndez" />
					</div>
					<h2>Eduardo Méndez</h2>
					<span>SysAdmin & Full Stack Dev</span>
				</div>
				<div class="contactInfo">
					<h3 class="title">Contact Info</h3>
					<ul>
						<li>
							<span class="icon">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="mailto:soy@eduardomendez.info"
									class="contact_links">soy@eduardomendez.info</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-github" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="https://github.com/eddymdz" target="_blank"
									class="contact_links">github.com/eddymdz</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="https://www.linkedin.com/in/eduardo-mendez-sysadmin/"
									target="_blank" class="contact_links">eduardo-mendez-sysadmin</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</span>
							<span class="text">Seville, Spain</span>
						</li>
					</ul>
				</div>
				<div class="contactInfo language">
					<h3 class="title">Languages</h3>
					<ul>
						<li>
							<span class="text">English</span>
							<span class="percent">
								<div style="width: 70%"></div>
							</span>
						</li>
						<li>
							<span class="text">Portuguese</span>
							<span class="percent">
								<div style="width: 50%"></div>
							</span>
						</li>
						<li>
							<span class="text">Spanish</span>
							<span class="percent">
								<div style="width: 100%"></div>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="about">
				<h2 class="title">About me</h2>
				<p>
					I'm an entrepreneur, sysadmin and web developer with more than 10 year of bad and good experiences
					in the tech industry; actually I'm working as a CTO of Pukara LTD, a tech innovation y
					transformation consulting company with the objective of produce software in an efficient,
					sustainable and funny way.
				</p>
				<p>I'm passionate about science, the hacker culture and technology with social impact and environmentally responsible. I
					consider myself as a friend of the change, a responsible, empathetic and
					respectfully person.</p>
				<p>My principal area of expertise is the GNU/Linux administration and network services on-premise and in
					the cloud, especially in the AWS cloud. Also I'm a agnostic and generalist developer of scripts, web
					applications and general purpose applications, using the technology that solves the problem better.
				</p>
			</div>
			<div class="about">
				<h2 class="title2">Experience</h2>
				<div class="box">
					<div class="year_company">
						<h5>2018 - Present</h5>
						<h5>Seville, Spain</h5>
					</div>
					<div class="text">
						<h4>Chief Technical Officer (CTO)</h4>
						<small><a href="https://pukara.es" target="_blank" class="enterprise_links">Pukara
								LTD</a></small>
						<p>I'm in charge of agile team building, devops culture evangelist and I first responsible for a
							healthy and sustainable work environment; also sometimes I work as a developer/sysadmin when
							the things get crazy.</p>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2015 - 2018</h5>
						<h5>Medellín, Colombia</h5>
					</div>
					<div class="text">
						<h4>Videoconference and Streaming Full Stack Software Developer</h4>
						<small><a href="https://xegmenta.com" target="_blank"
								class="enterprise_links">Xegmenta</a></small>
						<p>I worked here as a Full Stack Software Developer and Cloud Sysadmin for Videoconference and
							Streaming application using WebRTC for the real time audio/video in the browser, also I used
							Wowza and Nginx as an low latency streaming server.</p>
						<p>I built and deploy many application for important companies in bank and insurance sector
							using the following technologies:</p>
						<ul class="padding-list">
							<li>AWS Lambda with NodeJS</li>
							<li>Wordpress plugins and templates for customer portals</li>
							<li>High available infraestructure with containerized apps using AWS Fargate and RDS
								Serverless</li>
							<li>Simple Page Applications using Vue/Nuxt framework that was deployed in Firebase</li>
							<li>WebRTC applications that was using a customized Signal Server based on NodeJS</li>
							<li>WebRTC applications based on Vidyo SDK</li>
						</ul>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2007 - 2013</h5>
						<h5>Caracas, Venezuela</h5>
					</div>
					<div class="text">
						<h4>DNSAdmin of ccTLD .ve</h4>
						<small><a href="https://nic.ve" target="_blank" class="enterprise_links">NIC.ve</a></small>
						<p>I worked as a DNSAdmin for the Country Code Top Level Domain (.ve) of my country, also I
							developed scripts and small applications using Perl and PHP. This experience was crucial for
							me and was a big opportunity know in depth how the internet works.</p>
						<p>Some of technologies that I used was:</p>
						<ul class="padding-list">
							<li>Bind 9 as an DNS Authoritative Server</li>
							<li>SmokePing, Cacti, Nagios and Icinga as monitoring tools</li>
							<li>Xen/KVM for virtualization and Ganeti for clustering</li>
							<li>Dancer micro-framework written in Perl for Web development</li>
							<li>WebGui, a Perl based CMS (this was a very bad idea :P)</li>
							<li>J2EE because the original portal was developed using the Java stack</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="about education">
				<h2 class="title2">Education</h2>
				<div class="box">
					<div class="year_company">
						<h5>2021 - 2021</h5>
						<h5>Remote, Spain</h5>
					</div>
					<div class="text">
						<h4>Tech Management and Leadership, Project Management</h4>
						<small><a href="https://geekshubsacademy.com/" target="_blank"
								class="enterprise_links">GeeksHubs Academy</a></small>
						<p>Very intense training focused on best practices in the tech management guided by leaders in
							the sector in Spain</p>
						<small><a
								href="https://web.archive.org/web/20220828123436/https://geekshubsacademy.com/producto/tech-management-leadership/"
								class="enterprise_links">Training
								Details</a></small>

					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2014 - 2014</h5>
						<h5>Manabi, Ecuador</h5>
					</div>
					<div class="text">
						<h4>IPv6 Networks Workshop</h4>
						<small><a href="https://www.uleam.edu.ec/" target="_blank" class="enterprise_links">Universidad
								Laica Eloy Alfaro de Manabi (WALC 2014)</a></small>
						<p>Training focused on IPv6 deployment using routing network protocols as MPLS, BGP. Also we
							cover the most common security issues in IPv6 networks.</p>
						<small><a href="https://eslared.net/walc/walc-2014" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2011 - 2011</h5>
						<h5>Guayaquil, Ecuador</h5>
					</div>
					<div class="text">
						<h4>IT Security Workshop</h4>
						<small><a href="https://www.espol.edu.ec/" target="_blank" class="enterprise_links">Escuela
								Superior Politécnica del Litoral (WALC 2011)</a></small>
						<p>Focused in the most common security problems in the context of networks and network services
							like HTTP applications and DNS, etc.</p>
						<small><a href="https://eslared.net/walc/walc-2011" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2010 - 2010</h5>
						<h5>Santa Cruz de la Sierra, Bolivia</h5>
					</div>
					<div class="text">
						<h4>Deployment strategies of IPv6 Protocol</h4>
						<small><a href="https://www.espol.edu.ec/" target="_blank" class="enterprise_links">Universidad
								Privada de Santa Cruz de la Sierra (WALC 2010)</a></small>
						<p>Workshop oriented to the basic aspects related with how the IPv6 protocol works and how can
							affect the organizations and their applications/networks.</p>
						<small><a href="https://eslared.net/walc/walc-2010" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2010 - 2010</h5>
						<h5>Montevideo, Uruguay</h5>
					</div>
					<div class="text">
						<h4>ccTLD Technical Aspects</h4>
						<small><a href="https://www.unit.org.uy/" target="_blank" class="enterprise_links">Instituto
								Uruguayo de Normas Técnicas</a></small>
						<p>Deploy, maintain and monitoring country code top level domain infrastructure. In this edition
							the principal topic was DNSSEC</p>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2009 - 2009</h5>
						<h5>Santiago, Chile</h5>
					</div>
					<div class="text">
						<h4>ccTLD Technical Aspects</h4>
						<small><a href="https://nic.cl" target="_blank" class="enterprise_links">NIC.cl</a></small>
						<p>Deploy, maintain and monitoring country code top level domain infrastructure.</p>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2004 - 2005</h5>
						<h5>Venezuela</h5>
					</div>
					<div class="text">
						<h4>Business Application Developer Training</h4>
						<small><a href="https://www.mincyt.gob.ve/" target="_blank" class="enterprise_links">IBM -
								MCT</a></small>
						<p>Develop business applications using J2EE.</p>
					</div>
				</div>
			</div>
			<div class="about certifications">
				<h2 class="title2">Certifications</h2>
				<div class="box">
					<div class="year_company">
						<h5>2021 - 2021</h5>
					</div>
					<div class="text">
						<h4>Linux Foundation Certified System Administrator (LFCS)</h4>
						<small><a href="https://www.linuxfoundation.org/" target="_blank" class="enterprise_links">Linux
								Foundation</a></small>
						<p>Certification oriented to validate proficiency in Essential Commands, Operation of Running
							Systems, User and Group Management, Networking, Service Configuration and Storage
							Management.</p>
						<small><a href="https://www.credly.com/badges/f9158e62-d5a0-493e-8189-a9f2b058cb88/public_url"
								class="enterprise_links">Certification Details</a></small>
					</div>
				</div>
			</div>
			<div class="about conferences">
				<h2 class="title2">Conferences & Publications</h2>
				<div class="box">
					<div class="year_company">
						<h5>2022 - 2022</h5>
						<h5>Almeria, Spain</h5>
					</div>
					<div class="text">
						<h4>Cicerone.guide: Reutilization of open data for intelligent tourism using Wikidata</h4>
						<small><a href="https://meta.wikimedia.org/wiki/Jornadas_WMES/2022"
								class="enterprise_links">Event Page</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2014 - 2014</h5>
					</div>
					<div class="text">
						<h4>Venezuela Opens Global Debate on Internet Governance</h4>
						<small><a
								href="https://www.icann.org/en/blogs/details/venezuela-opens-global-debate-on-internet-governance-22-9-2014-en"
								class="enterprise_links">Article Link</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2011 - 2011</h5>
						<h5>Guayaquil, Ecuador</h5>
					</div>
					<div class="text">
						<h4>Campus Party: Experiences in ccTLD management</h4>
						<small><a
								href="https://es.slideshare.net/campuspartyquito/experiencias-en-la-autogestion-de-cctld"
								class="enterprise_links">Slides link</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
