<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}

<body>
	<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
	<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js"
		charset="UTF-8"></script>
	<script type="text/javascript" charset="UTF-8">
		document.addEventListener('DOMContentLoaded', function () {
			cookieconsent.run({ "notice_banner_type": "simple", "consent_type": "express", "palette": "dark", "language": "en", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_name": "https://eduardomendez.info" });
		});
	</script>

	<!--<a href="#" id="open_preferences_center">Update cookies preferences</a>-->

	<noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>


	<div class="container">
		<div class="left">
			<div class="profile">
				<div class="profileText">
					<div class="profileImg">
						<img src="/img/me.jpeg" alt="Eduardo Méndez" />
					</div>
					<h2>Eduardo Méndez</h2>
					<span>Professional DevOps Engineer</span>
				</div>
				<div class="contactInfo">
					<h3 class="title">Contact Info</h3>
					<ul>
						<li>
							<span class="icon">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="mailto:soy@eduardomendez.info"
									class="contact_links">soy@eduardomendez.info</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-github" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="https://github.com/eddymdz" target="_blank"
									class="contact_links">github.com/eddymdz</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</span>
							<span class="text"><a href="https://www.linkedin.com/in/eduardo-mendez-sysadmin/"
									target="_blank" class="contact_links">eduardo-mendez-sysadmin</a></span>
						</li>
						<li>
							<span class="icon">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</span>
							<span class="text">Seville, Spain</span>
						</li>
					</ul>
				</div>
				<div class="contactInfo language">
					<h3 class="title">Languages</h3>
					<ul>
						<li>
							<span class="text">English</span>
							<span class="percent">
								<div style="width: 70%"></div>
							</span>
						</li>
						<li>
							<span class="text">Portuguese</span>
							<span class="percent">
								<div style="width: 50%"></div>
							</span>
						</li>
						<li>
							<span class="text">Spanish</span>
							<span class="percent">
								<div style="width: 100%"></div>
							</span>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<div class="right">
			<div class="about">
				<h2 class="title">About me</h2>
				<p>
					A results-driven DevOps Engineer with more than 10 years of experience in implementing, design and
					maintaining critical infrastructure and high-availability systems. Proficient in AWS, Docker and
					Terrraform with strong background in Linux administration and scripting.
				</p>
				<p>
					Passionate about automation and constantly seeking to improve processes. A strong team player with
					excellent communication and leadership skills.
				</p>
			</div>
			<div class="skills">
				<h2 class="title2">Skills</h2>
				<ul style="padding-left: 20px;">
					<li><span class="category">Cloud Services</span>: AWS</li>
					<li><span class="category">Containerization</span>: Docker</li>
					<li><span class="category">Infrastructure as Code</span>: Terraform</li>
					<li><span class="category">CI/CD</span>: Github Actions, Gitlab CI, Jenkins, Ansible</li>
					<li><span class="category">Programming Languages</span>: PHP, Javascript, Bash</li>
					<li><span class="category">Monitoring</span>: Grafana, Kibana</li>
					<li><span class="category">Methodologies</span>: Scrum, Kanban</li>
				</ul>
			</div>
			<div class="about">
				<h2 class="title2">Experience</h2>
				<div class="box" id="hiberus">
					<div class="text">
						<h4>DevOps Engineer</h4>
						<div class="year_company">
							<h5>2023 - PRESENT</h5>
						</div>
						<small><a href="https://hiberus.com" target="_blank"
								class="enterprise_links">Hiberus</a></small>
						<ul class="padding-list">
							<li>I played a key role in migrating manually deployed applications to Jenkins and
								Ansible-based continuous integration and delivery environment for the Murcia Health
								Service. This transition not only eliminated the need for manual deployments but also
								greatly reduced the time required to deploy critical applications to testing and
								production environments.</li>
							<li>I successfully implemented a variety of dashboards using Grafana and Kibana. These
								dashboards serve as invaluable decision-making tools, leveraging data stored in InfluxDB
								and Elastic Search.</li>
						</ul>
					</div>
				</div>
				<div class="box" id="pukara">
					<div class="text">
						<h4>Cloud DevOps Engineer and Team Manager</h4>
						<div class="year_company">
							<h5>2018 - 2023</h5>
						</div>
						<small><a href="https://pukara.es" target="_blank" class="enterprise_links">Pukara
								LTD</a></small>
						<ul class="padding-list">
							<li>I designed and implemented DevOps pipelines for cloud-based applications using GitLab
								and <a
									href="https://github.com/eddymdz/eduardomendez.info/blob/main/.github/workflows/gh-pages.yml"
									target="_blank"
									alt="Take a look at an example of an action on GitHub created by me">GitHub
									Actions</a>, resulting in a significant and cost-effective solution for software
								delivery.</li>
							<li>I implemented infraestructure-as-code practices using Terraform reducing the manual
								configuration efforts.</li>
							<li>I architected highly available and fault-tolerant environments in AWS using Fargate,
								ECR, ECS, RDS, CloudFront, and S3. Improved scalability and achieved cost savings with a
								microservices approach based on Lambda functions.</li>
							<li>I mentored a team of junior developers from an agile perspective, conducting regular
								knowledge-sharing sessions and providing guidance on best practices in cloud
								infrastructure management, CI/CD and automation technologies.</li>
						</ul>

					</div>
				</div>
				<div class="box" id="xegmenta">
					<div class="text">
						<h4>Videoconference and Streaming Full Stack Software Developer</h4>
						<div class="year_company">
							<h5>2015 - 2018</h5>
						</div>
						<small><a href="https://xegmenta.com" target="_blank"
								class="enterprise_links">Xegmenta</a></small>
						<ul class="padding-list">
							<li>I significantly contributed as a Full Stack Software Developer and Cloud Sysadmin, driving the success of a Videoconference and Streaming application by implementing real-time audio/video functionality in the browser using WebRTC.</li>
							<li>I played a crucial role in optimizing performance by leveraging Wowza and Nginx as low-latency streaming servers, ensuring smooth and uninterrupted streaming experiences for users.</li>
							<li>I designed and implemented highly available infrastructure by utilizing containerized apps with AWS Fargate and RDS Serverless, improving application reliability and scalability.</li>
							<li>I developed Single Page Applications using the Vue/Nuxt framework, resulting in engaging user interfaces and seamless user interactions.</li>
							<li>I led the development of WebRTC applications by customizing a Signal Server based on NodeJS, enabling real-time communication capabilities for diverse use cases.</li>
							<li>I successfully developed WebRTC applications based on the Vidyo SDK, harnessing its powerful features to deliver high-quality video communication solutions.</li>
							<li>I demonstrated expertise in AWS Lambda with NodeJS, effectively leveraging serverless computing to enhance application scalability and reduce costs.</li>
						</ul>
					</div>
				</div>
				<div class="box" id="conatel">
					<div class="text">
						<h4>DNSAdmin of ccTLD .ve</h4>
						<div class="year_company">
							<h5>2007 - 2013</h5>
						</div>
						<small><a href="https://nic.ve" target="_blank" class="enterprise_links">NIC.ve</a></small>
						<ul class="padding-list">
							<li>As a DNS administrator, I managed the administration of the Country Code Top Level Domain (.ve), acquiring extensive knowledge of internet infrastructure and protocols.</li>
							<li>I developed scripts and small applications using Perl and PHP to enhance the operational processes and streamlining tasks.</li>
							<li>Proactively monitoring the health and performance of the DNS infrastructure, I implemented robust monitoring solutions such as SmokePing, Cacti, Nagios, and Icinga.</li>
							<li>Leveraging virtualization technologies like Xen/KVM and Ganeti, I ensured efficient resource utilization and high availability clustering.</li>
							<li>For agile and rapid web development, I utilized Dancer, a Perl-based micro-framework, enabling the efficient deployment of web-based tools and services.</li>
							<li>I developed functionality for customer portals using the J2EE stack.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="about education">
				<h2 class="title2">Education</h2>
				<div class="box">
					<div class="year_company">
						<h5>2021 - 2021</h5>
						<h5>Remote, Spain</h5>
					</div>
					<div class="text">
						<h4>Tech Management and Leadership, Project Management</h4>
						<small><a href="https://geekshubsacademy.com/" target="_blank"
								class="enterprise_links">GeeksHubs Academy</a></small>
						<p>Very intense training focused on best practices in the tech management guided by leaders in
							the sector in Spain</p>
						<small><a
								href="https://web.archive.org/web/20220828123436/https://geekshubsacademy.com/producto/tech-management-leadership/"
								class="enterprise_links">Training
								Details</a></small>

					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2014 - 2014</h5>
						<h5>Manabi, Ecuador</h5>
					</div>
					<div class="text">
						<h4>IPv6 Networks Workshop</h4>
						<small><a href="https://www.uleam.edu.ec/" target="_blank" class="enterprise_links">Universidad
								Laica Eloy Alfaro de Manabi (WALC 2014)</a></small>
						<p>Training focused on IPv6 deployment using routing network protocols as MPLS, BGP. Also we
							cover the most common security issues in IPv6 networks.</p>
						<small><a href="https://eslared.net/walc/walc-2014" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2011 - 2011</h5>
						<h5>Guayaquil, Ecuador</h5>
					</div>
					<div class="text">
						<h4>IT Security Workshop</h4>
						<small><a href="https://www.espol.edu.ec/" target="_blank" class="enterprise_links">Escuela
								Superior Politécnica del Litoral (WALC 2011)</a></small>
						<p>Focused in the most common security problems in the context of networks and network services
							like HTTP applications and DNS, etc.</p>
						<small><a href="https://eslared.net/walc/walc-2011" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2010 - 2010</h5>
						<h5>Santa Cruz de la Sierra, Bolivia</h5>
					</div>
					<div class="text">
						<h4>Deployment strategies of IPv6 Protocol</h4>
						<small><a href="https://www.espol.edu.ec/" target="_blank" class="enterprise_links">Universidad
								Privada de Santa Cruz de la Sierra (WALC 2010)</a></small>
						<p>Workshop oriented to the basic aspects related with how the IPv6 protocol works and how can
							affect the organizations and their applications/networks.</p>
						<small><a href="https://eslared.net/walc/walc-2010" class="enterprise_links">Workshop
								Details</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2010 - 2010</h5>
						<h5>Montevideo, Uruguay</h5>
					</div>
					<div class="text">
						<h4>ccTLD Technical Aspects</h4>
						<small><a href="https://www.unit.org.uy/" target="_blank" class="enterprise_links">Instituto
								Uruguayo de Normas Técnicas</a></small>
						<p>Deploy, maintain and monitoring country code top level domain infrastructure. In this edition
							the principal topic was DNSSEC</p>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2009 - 2009</h5>
						<h5>Santiago, Chile</h5>
					</div>
					<div class="text">
						<h4>ccTLD Technical Aspects</h4>
						<small><a href="https://nic.cl" target="_blank" class="enterprise_links">NIC.cl</a></small>
						<p>Deploy, maintain and monitoring country code top level domain infrastructure.</p>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2004 - 2005</h5>
						<h5>Venezuela</h5>
					</div>
					<div class="text">
						<h4>Business Application Developer Training</h4>
						<small><a href="https://www.mincyt.gob.ve/" target="_blank" class="enterprise_links">IBM -
								MCT</a></small>
						<p>Develop business applications using J2EE.</p>
					</div>
				</div>
			</div>
			<div class="about certifications">
				<h2 class="title2">Certifications</h2>
				<div class="box">
					<div class="year_company">
						<h5>2021 - 2021</h5>
					</div>
					<div class="text">
						<h4>Linux Foundation Certified System Administrator (LFCS)</h4>
						<small><a href="https://www.linuxfoundation.org/" target="_blank" class="enterprise_links">Linux
								Foundation</a></small>
						<p>Certification oriented to validate proficiency in Essential Commands, Operation of Running
							Systems, User and Group Management, Networking, Service Configuration and Storage
							Management.</p>
						<small><a href="https://www.credly.com/badges/f9158e62-d5a0-493e-8189-a9f2b058cb88/public_url"
								class="enterprise_links">Certification Details</a></small>
					</div>
				</div>
			</div>
			<div class="about conferences">
				<h2 class="title2">Conferences & Publications</h2>
				<div class="box">
					<div class="year_company">
						<h5>2022 - 2022</h5>
						<h5>Almeria, Spain</h5>
					</div>
					<div class="text">
						<h4>Cicerone.guide: Reutilization of open data for intelligent tourism using Wikidata</h4>
						<small><a href="https://meta.wikimedia.org/wiki/Jornadas_WMES/2022"
								class="enterprise_links">Event Page</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2014 - 2014</h5>
					</div>
					<div class="text">
						<h4>Venezuela Opens Global Debate on Internet Governance</h4>
						<small><a
								href="https://www.icann.org/en/blogs/details/venezuela-opens-global-debate-on-internet-governance-22-9-2014-en"
								class="enterprise_links">Article Link</a></small>
					</div>
				</div>
				<div class="box">
					<div class="year_company">
						<h5>2011 - 2011</h5>
						<h5>Guayaquil, Ecuador</h5>
					</div>
					<div class="text">
						<h4>Campus Party: Experiences in ccTLD management</h4>
						<small><a
								href="https://es.slideshare.net/campuspartyquito/experiencias-en-la-autogestion-de-cctld"
								class="enterprise_links">Slides link</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>